<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]> <!--> <html lang="en" class="no-js gte-ie9"  itemscope xmlns:og="http://opengraphprotocol.org/schema/"> <!--<![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie9 lt-ie10" xmlns:og="http://opengraphprotocol.org/schema/"> <![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8 lt-ie10 lt-ie9" xmlns:og="http://opengraphprotocol.org/schema/"> <![endif]-->
<!--[if (lt IE 8)]> <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8" xmlns:og="http://opengraphprotocol.org/schema/"> <![endif]-->
<head>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <script src="js/lib/modernizr/modernizr.custom.03959.js"></script>
  <link href="css/site.css?rel=1457027282578" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- Load Respond.js locally to avoid x-domain issues -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="js/lib/respond/respond.min.js"></script>
  <![endif]-->
</head>
<body class="template-{{ body_template_class }} page-{{ body_page_class }}">
  <span class="mq-helper"></span>
  <div class="page">

    {% include 'site-header.html' %}

    <div class="container container-main__wrap">

      {% include layout %}

    </div><!-- .container.main-container-wrap -->

    {% include 'site-footer.html' %}

  </div><!-- .page -->
  <script src="js/site.js?rel=1457026955392"></script>
</body>
</html>
