<div class="site-nav col-xs-12">
  <nav class="site-nav__nav">
    <div class="site-nav__inset">
      <ul class="site-nav__list">
        <li class="site-nav__list-item">
          <a href="./" class="site-nav__link">
            Home
          </a>
        </li>
        <li class="site-nav__list-item">
          <a href="./index-section.php" class="site-nav__link">
            Index-Section
          </a>
        </li>
        <li class="site-nav__list-item">
          <a href="./article.php" class="site-nav__link">
            Article
          </a>
        </li>
        <li class="site-nav__list-item">
          <a href="#" class="site-nav__link">
            Link
          </a>
        </li>
        <li class="site-nav__list-item">
          <a href="#" class="site-nav__link">
            Link
          </a>
        </li>
        <li class="site-nav__list-item">
          <a href="#" class="site-nav__link">
            Link
          </a>
        </li>
      </ul>
    </div><!-- .site-nav__inset -->
  </nav><!-- .site-nav__nav -->
</div><!-- .site-nav -->
