<div class="site-footer">
  <footer class="site-footer__footer container">
    <div class="site-footer__inset col-sm-12">
      <div class="site-footer__menu">
        <ul class="site-footer__list">
          <li class="site-footer__list-item">
            <a href="#" class="site-footer__link">Link</a>
          </li>
          <li class="site-footer__list-item">
            <a href="#" class="site-footer__link">Link</a>
          </li>
          <li class="site-footer__list-item">
            <a href="#" class="site-footer__link">Link</a>
          </li>
          <li class="site-footer__list-item">
            <a href="#" class="site-footer__link">Link</a>
          </li>
          <li class="site-footer__list-item">
            <a href="#" class="site-footer__link">Link</a>
          </li>
        </ul>
      </div><!-- .site-footer__menu -->
      <div class="site-footer__copyright">
        &copy;2016 Company Name. All rights reserved.
      </div>
    </div><!-- .site-footer__copyright -->
  </footer>
</div><!-- .site-footer -->
